blockquote {
  color: #F6511D;
  position: relative;
  margin: 0.5em;
  padding: 0.5em 2em 0.5em 3em;
}

blockquote:before {
  position: absolute;
  font-size: 6em;
  line-height: 1;
  top: 0;
  left: 0;
  content: "\201C";
}

