#myBtn a {
  width: 63%;
  font-size: 21px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border: solid 1px white;
  color: black;
  cursor: pointer;
}

#myBtn:hover a {
  background: #F6511D;
  color: #eee;
}

.footer-main {
  background-color: yellow;
}

