@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
  transform: translateX(0);
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.move-up:hover{
  background-color: #FFB63D;
  transition: all .5s;
  transform : translateY(-10px);
}

.move-up-orange:hover{
  background-color: #F6511D;
  transition: all .5s;
  transform : translateY(-10px);
}

.move-up-red:hover{
  background-color: #B43951;
  transition: all .5s;
  transform : translateY(-10px);
}


.lineheight {
  line-height: 2;
}
